<mat-sidenav-container *ngIf="categoryList$ | async as categoryList">
    <mat-sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a
                *ngFor="let category of categoryList"
                mat-list-item
                [routerLink]="'./' + category.name.toLowerCase()"
                routerLinkActive="active"
                class="nav-item"
            >
                <span>{{ category.name | titlecase }} &nbsp;</span>
                <span>({{ category.completePercentage }}%)</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Mat sidenav content -->
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
