// Nav Item
.nav-item {
    font-weight: bold;
    &.active {
        color: red;
    }
}

:host::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    padding-left: 32px;
    padding-right: 32px;
}

:host::ng-deep mat-sidenav {
    width: 300px;
}
