@import "tailwindcss/components";

@layer components {
    .nav-item {
        @apply font-bold;
        &.active {
            @apply text-blue-400;
        }
    }
}

:host::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    padding-left: 32px;
    padding-right: 32px;
}

:host::ng-deep mat-sidenav {
    width: 300px;
}
