<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <ng-container *ngIf="categoryList$ | async as categoryList; else loadingOrError">
                <ng-container *ngFor="let category of categoryList">
                    <a
                        *ngIf="category.completePercentage !== null"
                        mat-list-item
                        [routerLink]="'./' + category.slug"
                        routerLinkActive="active"
                        class="nav-item"
                    >
                        <span>{{ category.name | titlecase }} &nbsp;</span>
                        <span>({{ category.completePercentage }}%)</span>
                    </a>
                </ng-container>
            </ng-container>
            <ng-template #loadingOrError>
                <div *ngIf="loadingError$ | async; else loading"></div>
                <ng-template #loading>
                    <app-loading-spinner></app-loading-spinner>
                </ng-template>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Mat sidenav content -->
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
