<mat-toolbar>
    <button
        type="button"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
    >
        <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/"><h1>My Checklist</h1></a>
    <span class="example-spacer"></span>

    <!-- Project select -->
    <mat-form-field>
        <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>
