<mat-toolbar>
    <button
        type="button"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="toggleSidebar()"
    >
        <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/"><h1>My Checklist</h1></a>
    <span class="example-spacer"></span>

    <!-- Category & Item manage -->
    <button type="button" mat-flat-button aria-label="Menu Trigger" [matMenuTriggerFor]="menu">
        Manage List
    </button>

    <mat-menu #menu="matMenu">
        <a routerLink="/admin/categories" type="button" mat-menu-item>Category</a>

        <a routerLink="/admin/items" type="button" mat-menu-item>Item</a>
    </mat-menu>
</mat-toolbar>
