<ng-container *ngIf="item$ | async as item">
    <div class="flex items-center justify-between">
        <mat-checkbox [(ngModel)]="markAsDone" (ngModelChange)="onStateChanges(item)">
            Mark as done
        </mat-checkbox>

        <a
            [routerLink]="['/admin/items/']"
            [queryParams]="{ itemID: item._id }"
            mat-flat-button
            color="primary"
            >Edit content</a
        >
    </div>
    <div class="editorial" [innerHTML]="item.content"></div>
</ng-container>
