<div *ngIf="items$ | async as items" class="container mx-auto my-2">
    <button
        class="mb-2"
        title="Add item"
        type="button"
        mat-raised-button
        color="primary"
        (click)="onActionTriggered({ type: actionType.CREATE, payload: null })"
    >
        Add Item
    </button>

    <app-datatable
        [columns]="columns"
        [dataSource]="items"
        [displayedColumns]="displayedColumn"
        [actions]="[actionType.EDIT, actionType.DELETE]"
        (onActionTriggered)="onActionTriggered($event)"
    ></app-datatable>
</div>
