<div class="container mx-auto my-2">
    <button
        title="Add item"
        type="button"
        mat-raised-button
        color="primary"
        (click)="onActionTriggered({ type: actionType.CREATE, payload: null })"
    >
        Add Item
    </button>

    <app-datatable
        [columns]="columns"
        [totalItems]="totalItems"
        [dataSource]="items$ | async"
        [displayedColumns]="displayedColumn"
        [actions]="[actionType.EDIT, actionType.DELETE, actionType.VIEW]"
        (onActionTriggered)="onActionTriggered($event)"
        (onPaginationChange)="onPaginationChange($event)"
    ></app-datatable>
</div>
