<div *ngIf="categories$ | async as categories" class="container">
    <button
        title="Add category"
        type="button"
        mat-raised-button
        color="primary"
        (click)="addCategory()"
    >
        Add Category
    </button>

    <app-datatable
        [columns]="columns"
        [dataSource]="categories"
        [displayedColumns]="displayedColumn"
        [actions]="[actionType.EDIT, actionType.DELETE, actionType.VIEW]"
        (onActionTriggered)="onActionTriggered($event)"
    ></app-datatable>
</div>
