<div *ngIf="categories$ | async as categories" class="container">
    <button
        title="Add category"
        type="button"
        mat-raised-button
        color="primary"
        (click)="onActionTriggered({ type: actionType.CREATE, payload: null })"
    >
        Add Category
    </button>

    <app-datatable
        [columns]="columns"
        [dataSource]="categories"
        [displayedColumns]="displayedColumn"
        [actions]="[actionType.EDIT, actionType.DELETE]"
        (onActionTriggered)="onActionTriggered($event)"
    ></app-datatable>
</div>

<!-- Loading template -->
<ng-template #loadingOrError>
    <!-- <div *ngIf="loadingError$ | async; else loading">error</div> -->
    <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
</ng-template>
