/* You can add global styles to this file, and also import other style files */

@import "abstracts/reset";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-main-layout,
app-fluid-layout,
app-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-drawer-container {
    flex: 1;
}
