/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "abstracts/reset";

// Imports the PrismJS theme
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
app-root,
app-main-layout,
app-fluid-layout,
app-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-main-layout,
app-fluid-layout,
main {
    flex-grow: 1;
}

.mat-drawer-container {
    flex: 1;
}

@layer components {
    a.custom-normal-link {
        @apply text-blue-400 hover:text-blue-700;
    }

    // .editorial {
    //     h1,
    //     h2,
    //     h3,
    //     h4,
    //     h5 {
    //         @apply font-bold;
    //     }

    //     code {
    //         @apply font-mono bg-black text-white;
    //     }
    // }
}
